body {
    background-color: #ffffff;
}
a.hover {
    background-color: magenta;
}

.text_box {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#content_layout {
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#header-image {
    width: 100%;
    height: 5%;
}
#brands-image{
    width: 700px;
    height: 150px;
}
div#company-name {
    text-align: center;
    background-color: #086A87;
    height: 5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Verdana";
    color: white;
}
div#brands_bar {
    text-align: center;
    background-color: #FFFFFF;
    height: 5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Verdana";
    color: white;
}
div#navigation-top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #086A87;
    font-family: "Verdana";
    font-size: 20px;
}

div#navigation-top-bar li  {
    float: left;
}

div#navigation-top-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#about_us h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}


div#about_us p {
    display: inline-block;
    border: #000000;
    font-family: "Verdana";
    text-align: justify;
    font-size: 20px;
}
div#brands h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}

div#brands p {
    display: inline-block;
    border: #000000;
    font-family: "Verdana";
    text-align: justify;
    font-size: 20px;
}
div#mountain_bikes h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#road_bikes h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#helmet h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#accessories h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#shoes h1 {
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#service h1{
    display: block;
    color: #000000;
    font-family: "Verdana";
    font-size: 35px;
    text-align: center;
}
div#footer {
    background-color: black;
    opacity: 80%;
    height: 5%;
}
div#find_us p{
    color: FFFFFF;
    font-family: Verdana;
}
#mountain_bikes th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
}


#mountain_bikes td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}
#helmet th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
}


#helmet td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}
#accessories th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
}


#accessories td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}
#shoes th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
}


#shoes td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}
#road_bikes th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
    
}


#road_bikes td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}

hr.line{
    border-top: 1px solid #000000;
    width: 85%
}

#bikes, th, td {
    border: 1px solid black;
    width: 95%;
  }

#gear, th, td{
    border: 1px solid black;
    width: 95%;
}

#service th {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Verdana";
    font-size: 30px;
    text-align: center;
}


#service td {
    font-family: "Verdana";
    font-size: 20px;
    border-right: black;
    text-align: center;
}

div#top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "Verdana";
    font-size: 20px;
}

div#top-bar li  {
    float: left;
}

div#top-bar li p {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
div#top-bar li a,h3, h4, h6 {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

